<ion-header>
  <ion-toolbar>
    <ion-title>
      Acounts
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addAcount()">
        Add
        <ion-icon slot="end" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of acounts">
    <ion-item>
      <ion-icon name="folder" slot="start"></ion-icon>
      <ion-label>{{item.nomBanque}} {{item.numAcount}}</ion-label>
      <ion-button fill="outline" (click)="editAcount(item)" slot="end">
        Edit<ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-icon name="remove"></ion-icon>
        <ion-label>Type : {{item.typeAcount}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="logo-bitcoin"></ion-icon>
        <ion-label>Total : {{item.solde| number : '1.3'}}</ion-label>
      </ion-item>
    </ion-card-content>
    <ion-grid>
        <ion-row>
          <ion-col>
              <ion-button color="success" expand="full" (click)="addMoney(item)">
                Add<ion-icon slot="end" name="add-circle"></ion-icon>
              </ion-button>
          </ion-col>
          <ion-col>
              <ion-button color="danger" expand="full" (click)="subMoney(item)">
                Subtract<ion-icon slot="end" name="remove-circle"></ion-icon>
              </ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
